body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #78e9e9;
}

.container{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

select {
    padding: 10px;
    font-size: 20;
}

p{
    font-size: 20;
    margin-top: 20px;
}